<html>
<link rel="stylesheet" type="text/css" href="../css/activity.css">
<script src="../javascript/time.js"></script>
<script src='https://kit.fontawesome.com/a076d05399.js'>
</script>

<body>
<div id="activity_tracker_frame">
    <div id = "head_header" style="background-color:red">
        <div id="head_header_left" style="background-color:burlywood">
            <i class="fas fa-running" style='font-size:34px;'></i>
        </div>
        <div id="head_header_right">
            <p> date
                <span id="datetime"></span>
            </p>
        </div>
    </div>

    <div id = "head_data" style="background-color:orange">
        <div id="steps" align="center">
            <p id="stepCount">0</p>
            <p id ="stepUnit">Steps</p>
        </div>

        <div id ="calorie" align="center">
            <p id="calorieCount">0.0</p>
            <p id="calorieUnit">kCal</p>
        </div>

        <div id ="distance" align="center">
            <p id = "distanceCovered">10</p>
            <p id ="distanceUnit">miles</p>
        </div>

        <div id = "heartRate" align="center">
            <p id = "heartRateValue">70</p>
            <p id = "heartRateUnit">BMP</p>
            <i class='fas fa-heartbeat' style='font-size:24px;color:red'></i>
        </div>
    </div>

    <div id = "head_footer" style="background-color:red">
        <div id = "head_footer_left" style="background-color:red">
        </div>
        <div id = "head_footer_right" style="background-color:yellow">
        </div>
    </div>
</div>
</body>
<script>
    let dt = new Date();
    document.getElementById("datetime").innerHTML = dt.toLocaleString();
</script>
</html>