<html>
<link rel="stylesheet" type="text/css" href="../css/activity.css">





<body id="watch">
<div id="top">

</div>
<div>
	<div id="activity_tracker_frame" >
		<div id = "head_header" >
			<div id="head_header_left" >
			</div>
			<div id="head_header_right" style="background-color:black">
				<input type="image" src="../images/settings.png" alt="Submit" style="max-height:52px; float: right" onclick="openSettings();">
			</div>
		</div>
		
		<div id = "head_data" >
			<div id="time" class="only_time"> </div>
		</div>
		
		<div id = "head_footer" >
			<div id = "head_footer_left" >
				<input type="image" src="../images/green.jpg" alt="Submit" style="float: right; width:28px; height:28px;margin-right:5px;" >
			</div>
			<div id = "head_footer_right" >
				<input type="image" src="../images/white.png" alt="Submit" style="float: left; width:25px; height:25px;margin-left:10px;" >
			</div>
		</div>
	</div>
	<div id="simulation">
		Simulation
	</div>
</div>

</body>
<script src="../javascript/time.js"></script>
</html>