<html>
<head>
    <link rel="stylesheet" href="../css/activity.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>

<div id="activityScreen" style="height: 300px; width: 200px; border-style:solid; border-color:black;">

    <div id = "heartRate">
    <p id = "heartRateValue">70</p>
    <p id = "heartRateUnit">BMP</p>
    <i class='fas fa-heartbeat' style='font-size:24px;color:red'></i>
    </div>


    <div id="steps" align="center">
    <p id="stepCount">0</p>
    <p id ="stepUnit">Steps</p>
    <p id ="movementType">W</p>
    </div>

    <div id ="calorie" align="center">
    <p id="calorieCount">0.0</p>
    <p id="calorieUnit">kCal</p>
    </div>

    <div id ="distance" align="center">
        <p id = "distanceCovered">10</p>
        <p id ="distanceUnit">miles</p>
    </div>



</div>

</body>
</html>