<html>
<link rel="stylesheet" type="text/css" href="../css/activity.css">

<script src='https://kit.fontawesome.com/a076d05399.js'>
</script>
<body id="watch" onload="updateDetails()">
<div id="top">

</div>
<div>
<div id="activity_tracker_frame">
    <div id = "head_header">
        <div id="head_header_left" >
            <i id="manIcon" class="fas fa-walking" style='font-size:34px;color:white'></i>
        </div>
        <div id="head_header_right">
            <p>
                <span id="time" style="font-size: 25px; "></span>
            </p>
        </div>
    </div>

    <div id = "head_data">
        <div id="steps" align="center">
            <p id="stepCount">0</p>
            <p id ="stepUnit">Steps</p>
        </div>

        <div id ="calorie" align="center">
            <p id="calorieCount">0</p>
            <p id="calorieUnit">Cal</p>
        </div>

        <div id ="distance" align="center">
            <p id = "distanceCovered">0</p>
            <p id ="distanceUnit">miles</p>
        </div>

        <div id = "heartRate" align="center">
            <p id = "heartRateValue">70</p>
            <p id = "heartRateUnit">BMP</p>
			<input type="image" src="../images/tenor.gif" style="width:40px; height:40px;" >
        </div>
    </div>

    <div id = "head_footer" >
			<div id = "head_footer_left" >
				<input type="image" src="../images/white.png" alt="Submit" style="float: right; width:25px; height:25px;margin-right:5px;" onclick="openMain();">
			</div>
			<div id = "head_footer_right" >
				<input type="image" src="../images/green.jpg" alt="Submit" style="float: left; width:28px; height:28px;margin-left:10px;" >
			</div>
		</div>
</div>
    <div id="simulation">
        <button id = "Walking" class="actions" onclick="updateWalkingValue()">Walking</button>
        <button id = "Running" class="actions" onclick="updateRunningValue()">Running</button>
        <button id = "Climbing" class="actions" onclick="updateClimbingValue()">Climbing</button>
		<button id = "Heart Alert" class="actions" onclick="openHeartAlert()">Heart Alert</button>
    </div>
</div>

<div id="floating_alert">
	<br>
	<br>
	<b> Heart Rate Alert</b><br><br>
	Heart Rate above normal rate.<br><br>
	<button id = "AlertHeartRate" style="background-color: #2e6da4" onclick="closeHeartAlert()">Ok</button>
</div>

</body>
<script src="../javascript/time.js"></script>
</html>