<!DOCTYPE html>
<html>
<head>
	<title>Personal Details</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../css/activity.css">

	<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
</head>

<body id="watch">
<div id="top">

</div>

<div>
	<div id="activity_tracker_frame" >
	
	<div>
		<span ><center style="color: white;">User Details: </center></span>
	<form>
	  <div class="form-group">
	    <label style="color: white;">Height: </label>
	    <select class="form-control" id='height_selector'></select>
	  </div>

	  <div class="form-group">
	    <label style="color: white;">Weight: </label>
	    <select class="form-control" id='weight_selector'></select>
	  </div>
	  
	  <label style="color: white;">Gender: </label>
		
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" style="margin-left: 10px;" checked>
		  <label class="form-check-label" for="inlineRadio1" style="color: white;">Male</label>
		</div>
		<div class="form-check form-check-inline">
		  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
		  <label class="form-check-label" for="inlineRadio2" style="color: white;">Female</label>
		</div>
		

	<div class="form-group">
	    <label style="color: white;">Age: </label>
	    <select class="form-control" id='age_selector'></select>
	  </div>

	  <center><button id="submit-btn" type="button" class="btn btn-success">Submit</button></center>
	</form>
	</div>
	</div>


	<div id="simulation">
		
	</div>
</div>
<script type="text/javascript">
	var select = '';
	for (i=0;i<=300;i++){
	    select += '<option val=' + i + '>' + i + '</option>';
	}
	$('#height_selector').html(select);

	var select = '';
	for (i=0;i<=1400;i++){
	    select += '<option val=' + i + '>' + i + '</option>';
	}
	$('#weight_selector').html(select);

	var select = '';
	for (i=0;i<=130;i++){
	    select += '<option val=' + i + '>' + i + '</option>';
	}
	$('#age_selector').html(select);


	document.getElementById("submit-btn").onclick = function () {
        location.href = "./time_screen.html";
    };
</script>
</body>
</html>